
html, body {
  overflow: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
}

body.fixed .wrapper {
  margin-top: 0px;
}

.navbar-inverse {
  background-color: #111;
}

body > .header .logo {
  height: 50px;
}

.box.box-default.box-condensed .row {
  margin-left: 0;
  margin-right: 0;
}

.box.box-default.box-condensed .row .form-group {
  margin-bottom: 5px;
}

.box.box-default.box-condensed .row .form-group .inline-group label:first-child{
  margin-top: 0;
}

.box.box-default.box-condensed .row .form-group .inline-group label{
  margin-right: 20px;
}

.box.box-default.box-condensed .row .form-group .inline-group {
  margin-left: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

section.sidebar, aside.right-side {
  overflow-x: hidden;
  overflow-y: auto;
}

.left-side {
  border-right: 1px solid #DBDBDB;
}

body > .navbar .sidebar-toggle .icon-bar {
  background: #d0d0d0;
}

.box .box-footer {
  border-top: 1px solid #eee;
  background-color: #fefefe;
}

.box-toolbar button.btn.btn {
  min-width: 100px;
}

.pace .pace-progress {
  background: #0062AD;
}

.skin-black .logo {
  background-color: #111;
  color: #f9f9f9;
  font-family: Lato, sans-serif !important;
}

.skin-black .navbar .nav a {
  height: 50px;
}

.skin-black .navbar .nav a {
  color: #eee;
}

body > .header .navbar {
  background: #111;
  border-bottom: none;;
/*  border-bottom: 1px solid #111;*/
}

.skin-black .navbar .sidebar-toggle .icon-bar {
  background: #eee;
}

#profile-menu .dropdown-menu a {
  color: #111;
}

#profile-menu .dropdown-menu a:hover {
  background: transparent;
}

#profile-menu .dropdown-menu:after {
  bottom: 0;
  right: 0;
  border: none;
  content: initial;
  height: 0;
  width: 0;
  position: initial;
}

@media (max-width: 767px) {
  #profile-menu a.dropdown-toggle {
    width: 100px;
    overflow: auto;
  }
  body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 560px) {
  body.fixed > .wrapper, body.fixed .sidebar-offcanvas {
    margin-top: 50px!important; 
  }
}

li#profile-menu.open a.dropdown-toggle, li#profile-menu.open a.dropdown-toggle:hover {
  color: #515151;
  background: #eee;
  border-right: 1px solid #d6d6d6;
}

li.dropdown a.dropdown-toggle:hover {
  background: transparent;
}

/* skin-black content header */
.skin-black .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* Skin-blue user panel */
.skin-black .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-black .user-panel > .info,
.skin-black .user-panel > .info > a {
  color: #555555;
}
/* skin-black sidebar */
.skin-black .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-black .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-black .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-black .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-black .sidebar a {
  color: #555555;
}
.skin-black .sidebar a:hover {
  text-decoration: none;
}
.skin-black .treeview-menu > li > a {
  color: #777;
}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
  color: #111;
}
.skin-black .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-black .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-black .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}
.select2-container.form-control {
  padding: 0;
  border: none;
}

.select2-container-multi .select2-choices {
  border: 1px solid #ccc;
}