html {
  background: #f9f9f9;
}

body {
  background: #fff;
  color: #333;
  font-family: sans-serif;
  margin: 2em auto;
  padding: 1em 2em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  max-width: 700px;
}

a {
  color: #21759b;
  text-decoration: none;
}

a:hover {
  color: #d54e21;
}

h1 {
  border-bottom: 1px solid #dadada;
  clear: both;
  color: #666;
  font: 24px Georgia,"Times New Roman",Times,serif;
  margin: 30px 0 0 0;
  padding: 0;
  padding-bottom: 7px;
}

h2 {
  font-size: 16px;
}

p,li,dd,dt {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 1.5;
}

code,.code {
  font-size: 14px;
}

ul,ol,dl {
  padding: 5px 5px 5px 22px;
}

a img {
  border: 0;
}

abbr {
  border: 0;
  font-variant: normal;
}

#logo {
  margin: 6px 0 14px 0;
  border-bottom: 0;
  text-align: center;
}

.step {
  margin: 20px 0 15px;
}

.step,th {
  text-align: left;
  padding: 0;
}

.submit input,.button,.button-secondary {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px!important;
  line-height: 16px;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #bbb;
  color: #464646;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.button:hover,.button-secondary:hover,.submit input:hover {
  color: #000;
  border-color: #666;
}

.button,.submit input,.button-secondary {
  background: #f2f2f2;
}

.button:active,.submit input:active,.button-secondary:active {
  background: #eee;
}

textarea {
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: sans-serif;
  width: 695px;
}

.form-table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}

.form-table td {
  margin-bottom: 9px;
  padding: 10px 20px 10px 0;
  border-bottom: 8px solid #fff;
  font-size: 14px;
  vertical-align: top;
}

.form-table th {
  font-size: 14px;
  text-align: left;
  padding: 16px 20px 10px 0;
  border-bottom: 8px solid #fff;
  width: 140px;
  vertical-align: top;
}

.form-table code {
  line-height: 18px;
  font-size: 14px;
}

.form-table p {
  margin: 4px 0 0 0;
  font-size: 11px;
}

.form-table input {
  line-height: 20px;
  font-size: 15px;
  padding: 2px;
  border: 1px #dfdfdf solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: sans-serif;
}

.form-table input[type=text],.form-table input[type=password] {
  width: 210px;
}

.form-table th p {
  font-weight: normal;
}

.form-table.install-success td {
  vertical-align: middle;
  padding: 16px 20px 10px 0;
}

.form-table.install-success td p {
  margin: 0;
  font-size: 14px;
}

.form-table.install-success td code {
  margin: 0;
  font-size: 18px;
}

#error-page {
  margin-top: 50px;
}

#error-page p {
  font-size: 14px;
  line-height: 18px;
  margin: 25px 0 20px;
}

#error-page code,.code {
  font-family: Consolas,Monaco,monospace;
}

#pass-strength-result {
  background-color: #eee;
  border-color: #ddd!important;
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 0;
  padding: 5px;
  text-align: center;
  width: 200px;
  display: none;
}

#pass-strength-result.bad {
  background-color: #ffb78c;
  border-color: #ff853c!important;
}

#pass-strength-result.good {
  background-color: #ffec8b;
  border-color: #fc0!important;
}

#pass-strength-result.short {
  background-color: #ffa0a0;
  border-color: #f04040!important;
}

#pass-strength-result.strong {
  background-color: #c3ff88;
  border-color: #8dff1c!important;
}

.message {
  border: 1px solid #e6db55;
  padding: .3em .6em;
  margin: 5px 0 15px;
  background-color: #ffffe0;
}

body.rtl {
  font-family: Tahoma,arial;
}

.rtl h1 {
  font-family: arial;
  margin: 5px -4px 0 0;
}

.rtl ul,.rtl ol {
  padding: 5px 22px 5px 5px;
}

.rtl .step,.rtl th,.rtl .form-table th {
  text-align: right;
}

.rtl .submit input,.rtl .button,.rtl .button-secondary {
  margin-right: 0;
}

.rtl #dbname,.rtl #uname,.rtl #pwd,.rtl #dbhost,.rtl #prefix,.rtl #user_login,.rtl #admin_email,.rtl #pass1,.rtl #pass2 {
  direction: ltr;
}