body{
  font-family:verdana,arial,helvetica;
  font-size:12px;
  padding: 10px;
}

table{  
  border-collapse: collapse;
  font-family: verdana,arial,helvetica;
  font-size: 10px;
}

table td{
  border: 1px solid #d4d4d4;
  padding: 1px;
}

table th, .header{
  border: 1px solid #d4d4d4;
  background: #efefef;
}

.report-hide{
  display: none;
}

table .no-border tr td th{
  border: none !important;
}

a{
  text-decoration:none;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

button{
  display: none;
}

p, textarea, div, input{
  font-family:verdana,arial,helvetica;
  font-size:10px;
  border: none;
  background: #fff !important;
}

.portrait{
  width: 21cm;  
}

.landscape{
  width: 28cm;  
}

table .header{
  font-family: "verdana","arial";
  font-size: 12px !important;
}

.page-header{
  padding: 5px;
}

.sub-item{
  padding-left: 10px;
}

.footer{
  font-family: "arial","verdana";
  font-size: 10px;
}

.fields{
  font-family: "arial","verdana";
  font-size: 10px;
}

.even{
  font-family: "arial","verdana";
  font-size: 10px;
}

.odd{
  font-family: "arial","verdana";
  font-size: 10px;
}

.bold{
  font-weight: bold;
}

.boldred{
  color: #FF0000;
  font-weight: bold;
}

.PHPREPORTS_PAGE_CELL {
  font-family:"verdana","arial";
  color:#000000;
}

.PHPREPORTS_PAGE_LINK {
  font-family:"verdana","arial";
  color:#000000;
}

.PHPREPORTS_PAGE_LINK_BOLD {
  font-size:16px;
  font-weight:bold;
}

.report-money:before {
  content: "R$";
  float: left;
  margin-left: 20px;
}

.bg-gray {
  border: 1px solid #d4d4d4;
  background: #efefef;  
}

.invisible {
  dysplay: none;
}

