/**

Copyright (C) 2009 Keith Levi Lumanog
website: http://www.keithics.com
email:   webmaster@keithics.com
Skype: keithics

portfolio: http://keithics.com/gallery.php

notes:
Please feel free to modify this file, and if you want to ask something or want me to help.. please don't hesitate to email me.
I will try my best to help you out.

**/

/******************* main style- edit with care *********************/

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

body,h1,h3,form{
	margin:0;
	padding:0;
}

h1{
	font-size:24px;
	margin-bottom:10px;
}

li{
	line-height:20px;
}

#wrap{
	width: 920px;
	margin:auto;
}

#title{
	background-color:#333;
	color:#FFF;
	padding:5px;
	text-align:center;
	margin-bottom:10px;
}

#title h1{
	font-weight:normal;
}

.small{
	font-size:12px;
}

#notice{
	display: none;
	padding: 5px 10px;
	background-color: #F9F5DC;
  border: 1px solid #D2B95A;
  border-radius: 4px;
}

.uperror{
	padding:5px 10px;
	background-color:#C66;
	color:#FFF;
	margin-bottom:10px;
}

#content{
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  padding: 20px 20px 20px 0;
  min-height: 440px;
  border-radius: 2px;
}

#uploaded{
	padding-left:30px;
	padding-bottom:20px;
}

#div_upload_big{
	border: #ccc solid 1px;
  background: url('../images/square.png');
}

#div_upload_thumb{
	min-height:200px;
}

#div_upload_big{
  height: 380px;
  width: 740px;
  overflow: auto;
}

#upload_thumb_deprecated{
  background-color: #F4F4F4;
  border: 1px solid #D4D4D4;
  border-radius: 2px 2px 2px 2px;
  display: none;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  width: 590px;
}

#uploaded{
	float: left;
	width: 750px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#thumbnail{
	float: right;
  width: 100px;
  padding-left: 10px;
}

#details{
	font-size:11px;
	font-weight:bold;
}

#preview{
	border: 1px solid #CCCCCC;
  width: 100px;
  height: 133px;
  overflow: hidden;
  margin: 0 0 30px;
}

.button::-webkit-file-upload-button {
  visibility: hidden;
  content: '';
}
.button:before {
  content: 'Passo 1: Selecione uma imagem';
  display: inline-block;
  background: -webkit-linear-gradient(top, #FFFFFF, #EFEFEF);
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 5px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-family: arial,sans-serif;
  font-size: 11px;
  cursor: pointer;
}
.button:hover:before {
  border-color: #7B7D7F;
}
.button:active:before {
  background: -webkit-linear-gradient(top, #FBFBFB, #E9E9E9);
}

/*********************/

#about_details{
	display:none;
	background-color:#E2E2E2;
	border:#CCC solid 1px;
	padding:10px;
	margin:20px 10px;
}

.imgareaselect-outer{
  /*max-width: 600px !important;*/
  /*max-height: 250px !important;*/
  /*background: transparent !important;*/
}